@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

:root {
    --font1: "New Tegomin", serif;
    --font2: 'Franklin Gothic Medium', sans-serif;
    --font3: "Nanum Brush Script", cursive;
    --font4: "Rowdies", sans-serif;
    --font5: "Poppins", sans-serif;
}

* {
    margin: 0;
}

html {
    font: optional;
}

body {
    background: linear-gradient(90deg, rgba(102, 44, 17, 1) 0%, rgba(253, 136, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.contenedor {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    height: 96dvh;
    width: auto;
}

.contenedor__itemUno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.contenedor__itemDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    background: rgba(221, 185, 31, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    height: 80dvh;
    width: 40%;
    color: black;
}

.contenedor__itemUnoHijo {
    color: white;
    border-radius: .5em;
}

.contenedor__itemUnoHijo h1 {
    font-family: var(--font1);
    padding: 1em;
    font-size: 5em;
    text-align: center;
}

.contenedor__itemUnoHijo p {
    text-align: center;
    padding-bottom: 2em;
    font-family: var(--font2);
    font-size: 2rem;
}

.contenedor__itemUnoHijo .container__input {
    font-size: 2em;
    border-radius: 16px;
    padding: 16px 24px;
    width: 80%;
    font-weight: 700;
    border: none;
    margin-top: 2rem;

}

.contenedor__itemUnoHijo .contenedor__inputs {
    display: flex;
    justify-content: center;
}

.contenedor__botones {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em 0em;

}

.contenedor__botones button {
    padding: .5rem 2rem;
    border-radius: 1em;
    font-size: 1.2em;
    font-family: var(--font1);
    background-color: #FAD133;
    border: none;
}

.contenedor__botones button:hover {
    background-color: #F8ED34;
    transform: translateY(-4px);
    transition: all .5s ease;
}

.contenedor__itemDos span {
    font-family: var(--font4);
    padding: 1em;
    font-size: 2em;
    text-align: center;
    margin: 0rem 2rem;
}

.contenedor__itemDos p {
    padding: 1em;
    font-size: 2em;
    text-align: center;
    margin: 0rem 2rem;
}

.contenedor__itemDos img {
    height: 300px;
}

footer{
    display:flex;
    background-color: #f8ee3483;
    font-family: var(--font2);
    color: black;
    padding: .5em;
    border-radius: 12px;  
}

footer a{
    text-decoration: none;
    background-color: black;
    color:  #f8ee34d8;
    border-radius: 5px;
    padding: .3em;
    font-size: 1.1em;
}

@media (width <=1020px) {

    .contenedor {
        flex-direction: column-reverse;
        justify-content: start;
        width: auto;
    }

    .contenedor__itemUno {
        height: auto;
        width: auto;
    }

    .contenedor__itemDos {
        display: flex;
        margin: 1rem;
        height: auto;
        width: 95%;
    }

    .contenedor__itemUnoHijo {
        color: white;
        border-radius: .5em;
    }

    .contenedor__itemDos span {
        padding: .5em;
        font-size: 3em;
        margin: 0;
    }

    .contenedor__itemDos img {
        height: 300px;
    }

    .contenedor__itemUnoHijo h1 {
        padding-top: .8em;
        padding-bottom: .3em; 
        font-size: 4em;
    }

    .contenedor__itemUnoHijo p {
        padding-bottom: 0em;
        font-size: 2rem;
    }

    .contenedor__itemUnoHijo .container__input {
        font-size: 2em;
        padding: 1em .5em;
        width: 40dvh;
        margin-top: 1em;
    }

    .contenedor__botones button {
        padding: 1rem 2rem;
        border-radius: 1em;
        font-size: 2em;
    }

    .contenedor__itemDos p {
        padding: 1em;
        font-size: 2em;
        text-align: center;
        margin: 0rem 2rem;
    }
}

@media (width <=768px) {

    .contenedor {
        flex-direction: column-reverse;
        justify-content: start;
        width: auto;
        height: 96dvh;
    }

    .contenedor__itemUno {
        height: auto;
        width: auto;
    }

    .contenedor__itemDos {
        display: flex;
        margin: 1rem;
        height: auto;
        width: 95%;
    }

    .contenedor__itemUnoHijo {
        color: white;
        border-radius: .5em;
    }

    .contenedor__itemDos span {
        padding: 0em .5em;
        font-size: 1.5em;
        margin: 0;
    }

    .contenedor__itemDos img {
        height: 180px;
    }

    .contenedor__itemUnoHijo h1 {
        padding: 1em 0em;
        font-size: 2em;
    }

    .contenedor__itemUnoHijo p {
        padding-bottom: 0em;
        font-size: 1rem;
    }

    .contenedor__itemUnoHijo .container__input {
        font-size: 1em;
        padding: 2em .5em;
        width: 30dvh;
        margin-top: 1em;
    }

    .contenedor__botones button {
        padding: .5rem 1rem;
        border-radius: 1em;
        font-size: 1em;
    }

    .contenedor__itemDos p {
        padding: 1em;
        font-size: 1em;
        text-align: center;
        margin: 0rem 1rem;
    }    
}