@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

:root {
    --bg: linear-gradient(90deg, rgb(3, 14, 36) 2%, #120076 70%, #011876 90%);
    --font1: "New Tegomin", serif;
    --font2: 'Franklin Gothic Medium', sans-serif;
    --font3: "Nanum Brush Script", cursive;
    --font4: "Rowdies", sans-serif;
    --font5: "Poppins", sans-serif;
}

* {
    margin: 0;
}

html {
    font: optional;
    
}

body {
    background: var(--bg);
    height: 100dvh;
}

/*preloader*/
.ocultar {
    display: none;
    opacity: 0;
}

.preloader {
    height: 94dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img {
    width: 250px;
    height: 170px;
}

/*body*/
.contenedor__uno {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    height: 94dvh;
    box-sizing: border-box;
}

.contenedor__itemUno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2rem;
    box-sizing: border-box;
}

.contenedor__itemDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    height: 80dvh;
    width: 40%;
    color: white;
    transition: transform 0.5s ease;
    box-sizing: border-box;

}

.contenedor__itemDos:hover {
    background: rgba(0, 0, 0, 0.295);
    transform: scale(1.04);
}

.contenedor__Textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contenedor__itemUnoHijo {
    border-radius: .5em;
}

.contenedor__itemUnoHijo img {
    width: 100dvh;
}

.contenedor__itemUnoHijo p {
    text-align: center;
    padding-bottom: 2em;
    font-family: var(--font2);
    font-size: 1.5rem;
}

.contenedor__itemUnoHijo .container__input {
    font-size: 2em;
    border-radius: 16px;
    padding: 16px 24px;
    width: 80%;
    font-weight: 700;
    border: none;
    margin-top: 2rem;

}

.contenedor__itemUnoHijo .contenedor__inputs {
    display: flex;
    justify-content: center;
}

/* botones */
.container__botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25em;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.button_pair {
    display: flex;
    column-gap: 3em;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    border-radius: 5px;
}

.button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.7em;
    height: 5.7em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #e4d125;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, #f5f3a2 2px 2px 10px 0px inset,
        #f3f2ac28 -4px -4px 1px 0px inset;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;
}

.button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.7em;
    height: 5.7em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #545251;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
        #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;
}

.button_text3 {
    color: rgb(0, 0, 0);
    letter-spacing: 0.075em;
    font-size: .9em;
    transition: 0.1s ease-in-out;
}

.button_text4 {
    color: rgb(255, 255, 255);
    letter-spacing: 0.075em;
    font-size: .9em;
    transition: 0.1s ease-in-out;
}


.text {
    font-family: Montserrat;
    text-align: center;
    font-size: 0.65em;
}

.button3:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
        #574e01 -3.2px -3.2px 8px 0px inset;
}

.button3:active .button_text {
    transform: translateY(0.5px);
}

.button4:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
        #545251 -3.2px -3.2px 8px 0px inset;
}

.button4:active .button_text {
    transform: translateY(0.5px);
}

.contenedor__modoJuego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor__itemDos span {
    font-family: var(--font4);
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    margin: 0rem 2rem;
}

.contenedor__itemDos p {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0rem 2rem;
}

.contenedor__itemDos img {
    height: 150px;
}

footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000003b;
    font-family: var(--font2);
    color: rgb(255, 255, 255);
    padding: .6em;
    border-radius: 12px;

}

footer a {
    text-decoration: none;
    background-color: #e4d125;
    color: #ffffff;
    border-radius: 5px;
    padding: .3em;
    font-size: 1.1em;
    transition: transform 0.5s ease;
}

footer a:hover {
    background: #545251;
    transition: cubic-bezier(1, 0, 0, 1) 1s;
    transition: all 0.5s ease;
}


@media only screen and (max-width: 1024px) {

    .contenedor__uno {
        flex-direction: column-reverse;
        height: 94dvh;
        width: auto;
        padding: 0rem 0rem;
    }

    .contenedor__itemDos {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 1rem;
    }

    .contenedor__itemDos img {
        height: 160px;
        padding: .7rem 1rem;
    }

    .contenedor__itemDos span {
        font-size: 2rem;
        margin-top: -2rem;
    }

    .contenedor__itemDos p {
        font-size: 2rem;
    }

    .contenedor__itemUnoHijo img {
        width: auto;
    }
    .contenedor__itemUnoHijo p {
       font-size:2.2rem;
    }

    .button3 {
        width: 5.7em;
        height: 3.7em;

    }

    .button4 {
        width: 5.7em;
        height: 3.7em;

    }

    .container__botones {

        margin-top: 0rem;
    }

    .contenedor__itemUnoHijo p {
        padding-bottom: 1em;
    }


}

@media only screen and (max-width:768px) {

    .contenedor__uno {
        flex-direction: column-reverse;
        height: 94dvh;
        width: auto;
        padding: 0rem 0rem;
    }

    .contenedor__itemDos {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .contenedor__itemDos img {
        height: 129px;
        padding: .7rem 1rem;
    }

    .contenedor__itemDos span {
        font-size: 1.5rem;
        margin-top: -2rem;
    }

    .contenedor__itemDos p {
        font-size: 1.1rem;
    }

    .contenedor__itemUnoHijo img {
        width: auto;
    }

    .button3 {
        width: 5.7em;
        height: 3.7em;

    }

    .button4 {
        width: 5.7em;
        height: 3.7em;

    }

    .container__botones {

        margin-top: 0rem;
    }

    .contenedor__itemUnoHijo p {
        padding-bottom: 1em;
    }
}


@media only screen and (max-width:480px) {

    .contenedor__img__logoGhostNumber{
        display: none;
    }

    .contenedor__itemDos img {
        height: 100px;
        padding-bottom: 1rem;
    }

    .contenedor__itemDos {
        height: 90dvh;
    }
    
    .contenedor__itemDos p {
        font-size: 1.2rem;
        margin: 0rem 1rem;
    }

    .contenedor__itemUnoHijo p {
        padding-bottom: 0em;
        font-size: 1.2rem;
    }
    .contenedor__itemDos span {
        font-size: 1rem;
        margin-top: -2rem;
    }
    
}


